<footer>
    <section class="copy-right-class">
        Copyright &copy; 2023 SportsPalooza. Todos los derechos reservados.
        <div class="icons">
            <a href="https://facebook.com"><span class="fab fa-facebook" title="Ir a Facebook"></span></a>
            <a href="https://github.com/msferraresi/sports-palooza-app"><span class="fa-brands fa-github" title="Ir a GitHub"></span></a>
            <a href="https://instagram.com"><span class="fa-brands fa-instagram" title="Ir a Instagram"></span></a>
            <a href="https://x.com"><span class="fa-brands fa-x-twitter" tittle="Ir a Twitter"></span></a>
        </div>
    </section>
</footer>