
<header>
    <h1 class="animate__animated animate__bounce"><a href="#" onclick="cargarPagina('home')">SportsPalooza</a></h1>
    <nav>
        <ul class="nav-list">
            <li><a href="#" onclick="cargarPagina('home')">Inicio</a></li>
            <li><a href="#" onclick="cargarPagina('about')">Acerca de</a></li>
            <li><a href="#" onclick="cargarPagina('services')">Servicios</a></li>
            <li><a href="#" onclick="cargarPagina('contact')">Contacto</a></li>
            <li><a href="#" onclick="cargarPagina('login')">Inicio Sesion</a></li>
        </ul>
    </nav>
</header>