<header>
    <div class="animate__animated animate__bounce">
        <div class="horizontal-block">
            <img id="logo" alt="SportsPalooza" src="/assets/images/pelota-r.png" align="center" width="45" height="45">
            <h1>
                <a href="#" onclick="cargarPagina('home')">SportsPalooza</a>
            </h1>
        </div>
    </div>

    <div class="mobile-menu-toggle" onclick="toggleMobileMenu()">
        <div class="hamburger">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>

    <nav>
        <ul class="nav-list">
            <li><a href="#" onclick="cargarPagina('home')">Inicio</a></li>
            <li><a href="#" onclick="cargarPagina('contact')">Contacto</a></li>
            <li><a href="#" onclick="cargarPagina('login')">Inicio Sesion</a></li>
        </ul>
    </nav>
</header>