footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-top: 1px solid gray;
}

.copy-right-class {
    padding: 5px 0;
    text-align: center;
}
.icons {
    display: flex;
    column-gap: 12px;  
    justify-content: center; 
}
.icons a {
    color: #39A7FF;
    font-size: 20px;
}