.mainpr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/fond9.jpg");
    height: 800px;
}

.sectionpr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.textpr{
    color: rgb(240, 243, 240);
    text-shadow: 4px 4px 5px rgb(109, 112, 109) ;
}
.buttonpr {
    background-color: hsl(123, 15%, 27%);
    color: #fff;
    padding: 10px;
    border-radius: 20px; 
    cursor: pointer;
    border: 3px solid #909090;
}
.p{ 
    color: rgb(240, 243, 240);
    text-shadow: 4px 4px 5px rgb(109, 112, 109) ;}