.tituloRegistro{
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(240, 243, 240);
    text-shadow: 4px 4px 5px rgb(109, 112, 109) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formRegistro{
    display:flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#4c7527, #0000);
    background: rgba(0,0,0,0.5);
    border: 3px solid #909090;
    border-radius: 2rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(240, 243, 240)
}

.mainRegistro{
    display:flex;
    flex-direction: column;
    height: 800px;
    background-image: url("../images/fond9.jpg");
    
}

.sectionRegistro{
    
}

/*.labelRegistro{
    margin-top:5px;
}

.inputRegistro{
    margin-top:5px;
}*/

label{
   margin-bottom: 5px; 
}
input{
    margin-bottom: 5px;
    background-color: hsl(123, 15%, 27%);
    color: #fff;
    padding: 10px;
    border: 3px solid #909090;
    border-radius: 20px;
    cursor: pointer;
}
select{
    margin-bottom: 5px;
    background-color: hsl(123, 15%, 27%);
    color: #fff;
    padding: 10px;
    border-radius: 20px; 
    cursor: pointer;
}
.inputCheckbox{
    margin-left: -96%;
}
